.home .banner {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--black-blue),
    var(--dark-blue),
    var(--black-blue)
  );
  display: flex;
  align-items: center;
  position: relative;
}

.home .banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    var(--black-blue)
  );
}

.home .banner .container-lg {
  position: relative;
  min-height: 100vh;
}

.home .banner .content-area {
  max-width: 80%;
  position: relative;
  z-index: 1;
  padding-top: 110px;
}

.home .banner h1 .lgt-blu {
  color: var(--sky-blue);
}

.home .banner .headshot img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: auto;
  padding-top: 110px;
}

.home .skills-services {
  background: linear-gradient(
    to bottom,
    var(--black-blue),
    var(--dark-purple),
    var(--black-blue)
  );
}
